<h1><a href="post.link"><%= post.title.rendered %></a></h1>

<% if (show_featured_media && post._embedded['wp:featuredmedia'] && post._embedded['wp:featuredmedia'][0]) { %>
	<img src="<%= post._embedded['wp:featuredmedia'][0].media_details.sizes.thumbnail.source_url %>">
<% } %>

<div>
	
	<p>Post date: <%=post.date.replace(/-/g, '/').slice(0, 10) %></p>
</div>

<a href="<%= post.link %>"><%= read_more %></a>
